.btn {
  border-radius: 1rem;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.2s color ease-in;
}

.btn[disabled] {
  opacity: 0.4;
}

.btn--primary {
  background: rgb(16, 18, 102);
}

.btn--secondary {
  background: rgb(139, 43, 43);
}

.btn--primary:hover {
  background: rgb(4, 5, 43);
}
